<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         > 

  <display-name>Web_application process</display-name>
   <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
      </welcome-file-list>
   <servlet>
    <servlet-name>LoginControllerServlet</servlet-name>
 <servlet-class>com.institute.controller.LoginControllerServlet</servlet-class>
 </servlet>
<servlet-mapping>
    <servlet-name>LoginControllerServlet</servlet-name>
 <url-pattern>/LoginControllerServlet</url-pattern>
</servlet-mapping>

  <servlet>
    <servlet-name>StudentProfileServlet</servlet-name>
 <servlet-class>com.institute.controller.StudentProfileServlet</servlet-class>
 </servlet>
<servlet-mapping>
    <servlet-name>StudentProfileServlet</servlet-name>
 <url-pattern>/StudentProfileServlet</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>StudentEmployerServlet</servlet-name>
 <servlet-class>com.institute.controller.StudentEmployerServlet</servlet-class>
 </servlet>
<servlet-mapping>
    <servlet-name>StudentEmployerServlet</servlet-name>
 <url-pattern>/StudentEmployerServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>StudentContactinfoServlet</servlet-name>
 <servlet-class>com.institute.controller.StudentContactinfoServlet</servlet-class>
 </servlet>
<servlet-mapping>
    <servlet-name>StudentContactinfoServlet</servlet-name>
 <url-pattern>/StudentContactinfoServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>StudentEducationServlet</servlet-name>
 <servlet-class>com.institute.controller.StudentEducationServlet</servlet-class>
 </servlet>
<servlet-mapping>
    <servlet-name>StudentEducationServlet</servlet-name>
 <url-pattern>/StudentEducationServlet</url-pattern>
</servlet-mapping>

 <servlet>
    <servlet-name>SignupControllerServlet</servlet-name>
 <servlet-class>com.institute.controller.SignupControllerServlet</servlet-class>
 </servlet>
<servlet-mapping>
    <servlet-name>SignupControllerServlet</servlet-name>
 <url-pattern>/SignupControllerServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>IndexControllerServlet</servlet-name>
 <servlet-class>com.institute.controller.IndexControllerServlet</servlet-class>
 </servlet>
<servlet-mapping>
    <servlet-name>IndexControllerServlet</servlet-name>
 <url-pattern>/IndexControllerServlet</url-pattern>
</servlet-mapping>
</web-app>
